body {
    margin: 40px auto;
    max-width: 800px;
    padding: 0 10px;
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 110%;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
}

abbr {
    text-decoration: none;
    border-bottom: 1px dashed #777;
    cursor: help;
}

a {
    color: #3366CC;
    border: 1px solid rgba(255, 255, 255, 0);
}

a:focus {
    outline: 0;
    color: red;
    text-decoration: none;
    border: 1px dotted #aaa;
}

a:hover {
    color: #333;
    text-decoration: none;
}

h1 {
    font-size: 2.1em;
}

h1, h2, h3 {
    color: #000;
    line-height: 1.2;
    font-weight: normal;
}

h1, h2 {
    color: #444;
}

h2 {
    font-weight: 400;
    font-size: 1.7em;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 25px;
}

h3 {
    line-height: 2.3em;
    font-weight: 500;
    margin-bottom: 0;
}

.anchor {
    visibility: hidden;
    text-decoration: none;
    color: #ddd;
    margin: 0 0.1em;
    padding: 0 0.1em;
    border: none;
}

.anchor:hover {
    color: #444;
}

h1:hover > a.anchor,
h2:hover > a.anchor,
h3:hover > a.anchor,
h4:hover > a.anchor,
h5:hover > a.anchor,
h6:hover > a.anchor {
    visibility: visible;
}

table {
    width: 100%;
    border-spacing: 0;
    font-size: 0.9em;
}

td, th {
    border-bottom: 1px solid #e1e1e1;
    padding: 5px 4px 5px 0;
    text-align: left;
}

th {
    border-bottom-width: 2px;
}

code {
    background: rgba(27,31,35,.05);
    padding: 1px;
    border-radius: 3px;
}

pre {
    border: 1px solid #687550;
    background: #eeffcc;
    overflow: auto;
    padding: 3px;
}

pre > code {
    border: none;
    background: #eeffcc;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 35px;
}

li {
    margin-bottom: 10px;
    line-height: 18px;
}

li ul {
    margin-top: 5px;
}

li a {
    overflow-wrap: break-word;
}

dt {
    margin-bottom: 8px;
    color: #444;
    font-size: 1.3em;
}

dd {
    margin-bottom: 15px;
    margin-left: 15px;
    border-left: 3px solid #eee;
    padding-left: 10px;
    line-height: 1.4em;
    color: #999;
    font-weight: 300;
}

dd strong {
    font-weight: 500;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    border: 1px solid #000;
}

.breadcrumb {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.release-date {
    display: inline-block;
    font-style: italic;
    font-size: 0.9em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.warning {
    background: #ffedcc;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    border: 1px solid #e7c17b;
}

.info {
    background: #e7f2fa;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    border: 1px solid #7d9bb1;
}

.warning li:last-child,
.info li:last-child {
    margin-bottom: 0;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    color: #c09853;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    overflow: auto;
}

a.button {
    text-decoration: none;
}

.button {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1.2em;
    cursor: pointer;
    padding: 3px 10px;
    border: 1px solid;
    border-radius: unset;
}

.button-primary {
    border-color: #3079ed;
    background: #4d90fe;
    color: #fff;
}

.signup-button {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.oauth2 {
    margin-top: 10px;
}

#toc {
    margin-top: 25px;
    margin-bottom: 25px;
}
