:root {
    --body-color: #555;
    --body-background: #fff;

    --title-color: #000;
    --subtitle-color: #333;
    --page-header-title-border-color: #333;

    --link-color: #3366CC;
    --link-focus-color: red;
    --link-hover-color: #333;

    --anchor-color: #ddd;
    --anchor-color-hover: #444;

    --table-border-color: #e1e1e1;

    --code-background: rgba(27,31,35,.05);
    --code-color: #555;

    --pre-color: #555;
    --pre-border-color: #687550;
    --pre-background: #eeffcc;

    --dt-color: #444;
    --dd-border-color: #eee;
    --dd-color: #666;

    --configs-dt-color: #333;
    --configs-dd-color: #555;

    --img-border-color: #000;

    --alert-color: #c09853;
    --alert-background-color: #fcf8e3;
    --alert-border-color: #fbeed5;

    --warning-background-color: #ffedcc;
    --warning-border-color: #e7c17b;
    --warning-color: #333;

    --info-background-color: #e7f2fa;
    --info-border-color: #7d9bb1;
    --info-color: #333;

    --button-primary-border-color: #3079ed;
    --button-primary-background: #4d90fe;
    --button-primary-color: #fff;
    --button-primary-focus-border-color: #2f5bb7;
    --button-primary-focus-background: #357ae8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-color: #9c9c9c;
        --body-background: #222;

        --title-color: #aaa;
        --subtitle-color: #aaa;
        --page-header-title-border-color: #333;

        --link-color: #aaa;
        --link-focus-color: #ddd;
        --link-hover-color: #ddd;

        --anchor-color: #aaa;
        --anchor-color-hover: #ddd;

        --table-border-color: #e1e1e1;

        --code-background: rgb(68, 68, 68);
        --code-color: #fffefe;

        --pre-border-color: #ccc;
        --pre-background: rgb(68, 68, 68);
        --pre-color: #cacaca;

        --dt-color: #aaa;
        --dd-border-color: #aaa;
        --dd-color: #aaa;

        --configs-dt-color: #fffefe;
        --configs-dd-color: #aaa;

        --img-border-color: #aaa;

        --alert-color: #efefef;
        --alert-background-color: #333;
        --alert-border-color: #444;

        --warning-color: #efefef;

        --warning-background-color: #333;
        --warning-border-color: #444;
        --warning-color: #efefef;

        --info-border-color: #444;
        --info-background-color: #333;
        --info-color: #efefef;

        --button-primary-border-color: #444;
        --button-primary-background: #333;
        --button-primary-color: #efefef;
        --button-primary-focus-border-color: #888;
        --button-primary-focus-background: #555;
    }
}

body {
    margin: 40px auto;
    max-width: 900px;
    padding: 0 10px;
    color: var(--body-color);
    background: var(--body-background);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 110%;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
}

abbr {
    text-decoration: none;
    border-bottom: 1px dashed #777;
    cursor: help;
}

a {
    color: var(--link-color);
    border: 1px solid rgba(255, 255, 255, 0);
}

a:focus {
    outline: 0;
    color: var(--link-focus-color);
    text-decoration: none;
    border: 1px dotted #aaa;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

h1 {
    font-size: 2.1em;
}

h1, h2, h3 {
    color: var(--title-color);
    line-height: 1.2;
    font-weight: normal;
}

h1, h2 {
    color: var(--subtitle-color);
}

h2 {
    font-weight: 400;
    font-size: 1.7em;
    border-bottom: 1px dotted var(--page-header-title-border-color);
    margin-bottom: 25px;
}

h3 {
    line-height: 1.3em;
    font-weight: 500;
    margin-bottom: 0;
}

.anchor {
    visibility: hidden;
    text-decoration: none;
    color: var(--anchor-color);
    margin: 0 0.1em;
    padding: 0 0.1em;
    border: none;
}

.anchor:hover {
    color: var(--anchor-color-hover);
}

h1:hover > a.anchor,
h2:hover > a.anchor,
h3:hover > a.anchor,
h4:hover > a.anchor,
h5:hover > a.anchor,
h6:hover > a.anchor {
    visibility: visible;
}

table {
    width: 100%;
    border-spacing: 0;
    font-size: 0.9em;
}

td, th {
    border-bottom: 1px solid var(--table-border-color);
    padding: 5px 4px 5px 0;
    text-align: left;
}

th {
    border-bottom-width: 2px;
}

code {
    color: var(--code-color);
    background: var(--code-background);
    padding: 1px;
    border-radius: 3px;
}

pre {
    border: 1px solid var(--pre-border-color);
    background: var(--pre-background);
    overflow: auto;
    padding: 3px;
    color: var(--pre-color);
}

pre > code {
    border: none;
    background: var(--pre-background);
    color: var(--code-color);
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 35px;
}

li {
    margin-bottom: 10px;
    line-height: 18px;
}

li ul {
    margin-top: 5px;
}

li a {
    overflow-wrap: break-word;
}

dt {
    margin-bottom: 8px;
    color: var(--dt-color);
    font-size: 1.3em;
}

dd {
    margin-bottom: 15px;
    margin-left: 15px;
    border-left: 3px solid var(--dd-border-color);
    padding-left: 10px;
    line-height: 1.35em;
    color: var(--dd-color);
    font-weight: 300;
}

dd strong {
    font-weight: 600;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    border: 1px solid var(--img-border-color);
}

.breadcrumb {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.release-date {
    display: inline-block;
    font-style: italic;
    font-size: 0.9em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.warning {
    background-color: var(--warning-background-color);
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    border: 1px solid var(--warning-border-color);
    color: var(--warning-color);
}

.info {
    background-color: var(--info-background-color);
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    border: 1px solid var(--info-border-color);
    color: var(--info-color);
}

.warning li:last-child,
.info li:last-child {
    margin-bottom: 0;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    color: var(--alert-color);
    background-color: var(--alert-background-color);
    border: 1px solid var(--alert-border-color);
    border-radius: 4px;
    overflow: auto;
}

a.button {
    text-decoration: none;
}

.button {
    display: inline-block;
    -webkit-appearance: none;
    appearance: none;
    font-size: 1.2em;
    cursor: pointer;
    padding: 3px 10px;
    border: 1px solid;
    border-radius: unset;
}

.button-primary {
    border-color: var(--button-primary-border-color);
    background: var(--button-primary-background);
    color: var(--button-primary-color);
}

.signup-button {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.oauth2 {
    margin-top: 10px;
}

#toc {
    margin-top: 25px;
    margin-bottom: 25px;
}

.configs dt {
    margin-bottom: 0;
    font-size: 1.2em;
}

.configs dt a,
.configs dt a code {
    color: var(--configs-dt-color);
    text-decoration: none;
}

.configs dt a:focus code,
.configs dt a:hover code {
    color: red
}

.configs dd {
    color: var(--configs-dd-color);
    font-weight: 400;
}

.configs dd p {
    line-height: 1.1em;
}

.donations img {
    border: none
}

.footer {
    font-size: 0.85em;
    text-align: center;
    margin-top: 80px;
}
