{{define "release"}}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .Title }}</title>
    {{ if .Description }}
        <meta name="description" content="{{ .Description }}">
    {{ end }}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="alternate" type="application/atom+xml" title="Miniflux Releases" href="/feed.xml">
</head>
<body>
    <article>
        <h1>{{ .Title }}</h1>
        <nav class="breadcrumb">
            <a href="../index.html">Home</a> &gt; <a href="index.html">Releases</a>
        </nav>
        {{ if .Date }}
            <time class="release-date" datetime="{{ .Date | isodate }}">{{ .Date | strdate }}</time>
        {{ end }}
        {{ .Body | markdown }}
    </article>
</body>
</html>
{{ end }}